@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.container {
  @apply mx-auto !w-[90%] xl:!w-[75rem];
}

.container-sm {
  @apply mx-auto !w-[90%] xl:!w-[62rem];
}

.gradient {
  background: linear-gradient(107deg, #2272ff 0%, #0d03c3 100%);
}

/* section {
  @apply px-[7.5rem];
} */

::-webkit-scrollbar {
  width: 0;
}

#monthly:checked ~ .tab-container .flex #monthly-label,
#yearly:checked ~ .tab-container .flex #yearly-label {
  background: linear-gradient(107deg, #2272ff 0%, #0d03c3 100%);
  color: white;
  border-radius: 9999px; /* Apply a large border-radius for a rounded effect */
  padding: 0.37rem 0.94rem; /* Adjust padding as needed */
}

#monthly-plans {
  display: none;
}

#monthly:checked ~ #monthly-plans {
  display: grid;
}

#yearly-plans {
  display: none;
}

#yearly:checked ~ #yearly-plans {
  display: grid;
}

h1 {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
}

h3 {
  @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
}

h4 {
  @apply text-xl lg:text-2xl xl:text-3xl;
}

h5 {
  @apply text-2xl md:text-3xl xl:text-4xl;
}

h6 {
  @apply text-xl xl:text-2xl;
}

#nav-check:checked ~ #navbar {
  @apply h-auto py-[2.69rem];
}
