@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-hidden;
}

section {
  @apply py-16 xl:py-32;
}

footer {
  @apply pt-16;
}

body {
  font-family: "Inter", sans-serif;
  @apply overflow-x-hidden;
}

.container {
  @apply mx-auto px-4 xl:!max-w-[1200px];
}

.gradient {
  background: linear-gradient(107deg, #2272ff 0%, #0d03c3 100%);
  background-size: 200% 200%;
  background-position: left center;
  @apply transition-[background-position] duration-300 ease-linear;
}

a.gradient:hover {
  background-position: right center;
}

.btn-white {
  @apply rounded-full border-2 border-white bg-white px-[1.88rem] py-[0.75rem] text-sm font-semibold text-blue duration-300 hover:bg-transparent hover:text-white md:block;
}

::-webkit-scrollbar {
  width: 0;
}

#monthly:checked ~ .tab-container .flex #monthly-label,
#yearly:checked ~ .tab-container .flex #yearly-label {
  background: linear-gradient(107deg, #2272ff 0%, #0d03c3 100%);
  color: white;
  border-radius: 9999px; /* Apply a large border-radius for a rounded effect */
  padding: 0.37rem 0.94rem; /* Adjust padding as needed */
}

#monthly-plans {
  display: none;
}

#monthly:checked ~ #monthly-plans {
  display: grid;
}

#yearly-plans {
  display: none;
}

#yearly:checked ~ #yearly-plans {
  display: grid;
}

h1 {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
}

h3 {
  @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
}

h4 {
  @apply text-xl lg:text-2xl xl:text-3xl;
}

h5 {
  @apply text-2xl md:text-3xl xl:text-4xl;
}

h6 {
  @apply text-xl xl:text-2xl;
}

p {
  @apply text-xxs md:text-xs lg:text-lg;
}

#navbar {
  transition: all 0.5s ease;
  @apply fixed left-0 top-0 h-0 max-h-[22.25rem] pt-0 shadow-lg md:h-auto md:pt-0 md:shadow-none;
}

#nav-check:checked ~ #navbar {
  @apply h-full pt-[4.5rem] md:h-auto md:pt-0;
}

#video-check:checked ~ #smart-section #video-container {
  display: flex;
}
#video-container {
  @apply hidden;
}

/* .swiper-wrapper {
  @apply gap-7;
} */
